body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.m-0 {
    margin: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

/* p,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: 'Times New Roman', Times, serif;
} */

p,
p,
input,
li {
    font-size: 14px;
}

.underline {
    border-bottom: 2px solid #000;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h3,
h3 {
    font-size: 1.25rem;
}

.h2,
h2 {
    font-size: 1.5rem;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.possession_counter td:nth-child(even) {
    text-align: center;
    padding: 0;
}

.table_one td:nth-child(odd) {
    font-weight: 600;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.p-0 {
    padding: 0 !important;
}

@media (min-width: 768px) {
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333% !important;
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    abbr[title]::after {
        content: " (" attr(title) ")"
    }

    pre {
        white-space: pre-wrap !important
    }

    blockquote,
    pre {
        border: 1px solid #adb5bd;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,
    tr {
        page-break-inside: avoid
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    @page {
        size: a3
    }

    body {
        min-width: 992px !important
    }

    .container {
        min-width: 992px !important
    }
}

@media print {
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333% !important;
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        max-width: 1200px;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        page-break-after: always;
    }

    .blue_header {
        background-color: #1f5ca8 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .lightblue_header {
        background-color: #D9E2F3 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@media print {
    .pg_brk {
        page-break-after: always;
    }
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1140px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.h4, h4 {
    font-size: 1.5rem;
}
.fs-18 {
    font-size: 18px;
}

table {
    font-size: 18px;
}

th {
    font-weight: 700;
}

td,
th {
    border: 1px solid;
    padding: 5px 15px;
    height: 40px;
}

.bl_table td {
    text-align: center;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    border: none;
    /* text-align: center; */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

p,
input,
li {
    font-size: 18px;
}

.underline {
    border-bottom: 2px solid #000;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h3,
h3 {
    font-size: 1.25rem;
}

.h2,
h2 {
    font-size: 1.5rem;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.possession_counter td:nth-child(even) {
    text-align: center;
    padding: 0;
}

.table_one td:nth-child(odd) {
    font-weight: 600;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center !important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between !important;
}
.align-items-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline !important;
}
.p-0 {
    padding: 0 !important;
}

@media (min-width: 768px) {
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    abbr[title]::after {
        content: " (" attr(title) ")"
    }

    pre {
        white-space: pre-wrap !important
    }

    blockquote,
    pre {
        border: 1px solid #adb5bd;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,
    tr {
        page-break-inside: avoid
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    @page {
        size: a3
    }

    body {
        min-width: 992px !important
    }

    .container {
        min-width: 992px !important
    }
}

@media print {
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333% !important;
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        max-width: 1200px;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        page-break-after: always;
    }

    .blue_header {
        background-color: #1f5ca8 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .lightblue_header {
        background-color: #D9E2F3 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@media print {
    .pg_brk,.pg_break {
        page-break-after: always;
    }

    .print_btn {
        display: none;
    }
}
.font-28 {
    font-size: 28px;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.fake-radio {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
}
.fake-radio .circle {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}
.fake-radio.checked .circle::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
}
.cstm_grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}
.parsley-errors-list {
    margin-top: 0px;
    position: absolute;
}
table .parsley-errors-list {
    position: relative;
}
table .dropify-wrapper{
    width: 60%;
    display: inline-block;
    height: 100px;
}
.parsley-errors-list li {
    margin-top: 0px;
    font-size: 12px;
    font-weight: 600;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
p{
    color: #000;
}
.text-black{
    color:#000;
}
.no-wrap{
    flex-wrap:nowrap;
}
.section_heading{
    color:#2383b8;
    font-weight: 700;
}
.field_heading ,
.field_content {
    color: #000;
    font-size: 18px;
}
.field_heading {
    font-weight: 700;
    width: 25%;
    align-self: self-end;
    vertical-align: bottom;
    top: 5px;
    position: relative;
}
.field_content{
    width: 75%;
    border-bottom:1px solid;
    position: relative;
}
.action_btns {
    cursor: pointer;
}
.cstm_input{
    width: 100%;
    border:0;
    outline:0;
}
.cstm_gap .row{
    margin: 0 0 25px;
}
.check_box{
    border:0;
    position: relative;
    top: 2px;
}
.check_box .row{
    margin:0;
    gap:20px;
}
.check_box label{
    margin:0;
}
.cstm_table{
    width: 100%;
    text-align: center;
    border: 1px solid;
}
th,td {
    border: 1px solid;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 16px;
}
.terms p{
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: justify;
}
.thmbnail{
    border: 1px solid #dee2e6;
    padding: .25rem;
}
.cstm_thumbnail{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.table_thumbnail{
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.profile_img{
    width: 225px;
}
.pl-0, .px-0 {
    padding-left: 0 !important;
}
@media print {
    .print_none{
        display: none;
    }
    .p_declare{
        font-size: 22px;
    }
    .pmt-3, .pmy-3 {
        margin-top: 1rem !important;
    }
    .pmt-5, .pmy-5 {
        margin-top: 3rem !important;
    }
    .pmt-4, .pmy-4 {
        margin-top: 1.5rem !important;
    }
}